@use "sass:color";

// Light theme palette
@use "@material/theme/index" as theme with (
  $primary: #0078d4,
  $secondary: #5f5f5f,
  $surface: #fff,
  $background: #fff,
  $error: #c50f1f
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #0067b8;
}
a:visited {
  color: color.scale(#0067b8, $lightness: -18%);
}
